
    <main class="main">
    <h1>store Page</h1> <form action=/admin/store method=POST>
        <input name=tiitle type=text>
    </input>
    <button type=submit>Submit</button></form>
</main>
</body>
</html>